@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --textSoft: #b7bac1;
  --primary-clr: #f77c5a;
  --bg-primary: #1f1d2a;
  --bg-secondary: #252935;
  --bg-ternary: #35333f;
  --heading-clr: #efefef;
  --text-clr: #808191;
  --gradient: linear-gradient(to right, #35333f, transperent);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
